*.class

# Package Files #
*.war
*.ear

.idea
dist
*.iml
/target
.classpath
.project
.settings/

*.log
logs/
/logs
.DS_Store

src/test/logs/testCases.log

.teamcity/*
docker-compose.yml
Dockerfile_MA
Dockerfile_WorkBench
Makefile
src/integration-test/*
